  <div class="wrapper">
    <form action="" method="post" name="Login_Form" class="form-signin">
      <h3 class="form-signin-heading">Please Sign In</h3>
      <hr class="colorgraph"><br>
      <!--ログインエラー時のメッセージ-->
      <%= content_tag(:div, flash[:error], :id => "flash_error", :class => 'text-danger') if flash[:error] %>
      <%= content_tag(:div, flash[:alert], :id => "flash_alert", :class => 'text-danger') if flash[:alert] %>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

      <div class="actions">
        <%= f.submit "Log in", :class => 'btn btn-lg btn-primary btn-block' %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>

    </form>
  </div>
