<!DOCTYPE html>
<html>
<head>
  <title>BAROQUE SNS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <header class="header">
      <b><a href="/timeline" style="text-decoration:none" class="logo glyphicon glyphicon-home"> ホーム</a></b>
<!--       <a href="http://master.tech-camp.in/" style="color:#ffffff;text-decoration: none;" class="user_info">
        <img src="<%= @user.avatar %>" alt=""  class="header_image"> <%= @user.name %>
        </a>
 -->
      <ul class="nav pull-right nav-pills user_info">
        <li class="text-white">
          <img src="<%= @user.avatar %>" alt=""  class="header_image img-circle image_li">
        </li>
        <li>
          <a href="" style="color:#ffffff;text-decoration: none;">
          <%= @user.name %> （<%= @user.department %>）
          </a>
        </li>
        <li>
          <%= link_to 'サインアウト', "/users/sign_out", method: :delete %>
        </li>
      </ul>
    </header><!-- /header -->
  <% end %>

<%= yield %>

</body>
</html>
